<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>New Listing</h3>
                <form action="/listings" method="POST" class="needs-validation" novalidate
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" class="form-control" type="text" placeholder="Add a catchy title"
                            required>
                        <div class="valid-feedback">Title looks good !</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">Add short description.</div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input name="image" class="form-control" type="file" required>
                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" type="number" class="form-control" placeholder="1200" required>
                            <div class="invalid-feedback">Price should be valid.</div>
                        </div>


                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" type="text" class="form-control" placeholder="India"
                                required>
                            <div class="invalid-feedback">Country should be valid.</div>
                        </div>


                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" type="text" class="form-control" placeholder="Jaipur,Rajasthan"
                            required>
                        <div class="invalid-feedback">Location should be valid.</div>
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select name="listing[category]" class="form-select" required>
                            <option selected disabled value="">Choose a category</option>
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Iconic-cities">Iconic Cities</option>
                            <option value="Mountain">Mountain</option>
                            <option value="Castles">Castles</option>
                            <option value="Arctic">Arctic</option>
                            <option value="Village">Village</option>
                            <option value="Camping">Camping</option>
                        </select>
                        <div class="invalid-feedback">Please select a valid category.</div>
                    </div>




                    <button class="btn btn-dark add-btn">Add</button>
                    <br></br>
                </form>
            </div>
        </div>
    </body>